.createTask{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -1.6875rem;
    gap: .5rem;
}

.createTask input{
    background: var(--gray-500);
    width: 40rem;
    height: 3.375rem;
    border: 0;
    border-radius: 8px;
    padding-left: 1rem;
    color: var(--gray-300);
}

.createTask button{
    background: var(--blue-500);
    border-radius: 8px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    
    
    height: 3.375rem;
    width: 5.625rem;
    
    color: var(--white);
    font-weight: bold;
}

.createTask button:disabled{
    opacity: 0.7;
}

.contentList{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
}

.boxList{
    width: 46.125rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.headerList{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid var(--gray-400);
    font-weight: bold;
    font-size: 0.875rem;
}

.headerList .tarefasCriadas{
    color: var(--blue-500);
    display: flex;
    align-items: center;
    gap: .5rem;
}

.headerList .tarefasConcluidas{
    color: var(--purple-500);
    display: flex;
    align-items: center;
    gap: .5rem;
}

.tarefasCriadas .numberCount, .tarefasConcluidas .numberCount{
    color: var(--white);
    background: var(--gray-400);
    padding: 2px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}